// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import '~js-datepicker/src/datepicker';

body {
    background-color: $body-bg;
    font-family: $font-family-sans-serif;
}

h3 {
    font-size: .99rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: 1.10rem;
    font-weight: 500;
    line-height: 1.4;
}

table.table-md {
    th, td {
        padding: 0.50rem;
    }
}

p, td {
    color: #6c757d;
}

strong, th {
    color: #39424a;
}

table {
    thead tr th {
        border-top: 0 !important;
    }

    th:first-child {
        padding-left: 1rem;
    }
}

input.form-control.datepicker[readonly] {
    background-color: #fff;
}

.card-dashboard {
    div.text-number {
        font-size: 30px;
        text-align: right;
        color: #fefefe;
    }

    div.count-name {
        text-align: right;
        color: #fff;
        font-weight: bold;
    }

    .icon {
        opacity: 0.5;
    }

    .card-body {
        padding: 0.8rem;
    }
}
